

    <!-- Footer Links -->
    <div class="footer">

        <!-- Grid row -->
        <div class="row">
            <div class="col-sm-4">
                <a href="{{ path('footer.paiement') }}">PAIEMENT EN LIGNE</a>
            </div>
            <div class="col-sm-4">
                <a href="{{ path('footer.label') }}">LABEL SYNAPHE</a>
            </div>
            <div class="col-sm-4">
                <a href="{{ path('footer.protection') }}">PROTECTION DES DONNEES</a>
            </div>
        </div>

        <div class="row bottomRow">

            <!-- Grid column -->
            <div class="col-md-4">

                <ul class="list-unstyled">
                    <li>
                        <a href="#!"> Copyright © 2018 Viabox |
                            Tous droits réservés</a>
                    </li>
                    <li>
                        <a href="{{ path('footer.engagement') }}">Engagement de confidentialité |</a>
                        <a href="{{ path('footer.cookies') }}">Utilisation des cookies |</a>
                    </li>
                </ul>
            </div>


            <!-- Grid column -->
            <div class="col-md-8">

                <!-- Links -->
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ path('footer.cgv') }}">Conditions générales des ventes|</a>
                        <a href="{{ path('footer.mentions') }}">Mentions légales|</a>
                        <a href="{{ path('footer.plansite') }}">Plan du site</a>
                    </li>
                </ul>

            </div>


        </div>




    </div>